################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Skybox/v17/fileList.bin
/.vs/Skybox
/x64/Release/Skybox.Build.CppClean.log
/x64/Release/Skybox.log
/x64/Release/Skybox.vcxproj.FileListAbsolute.txt
/.vs
*.pdb
*.ipdb
*.iobj
*.recipe
